@font-face {
  font-family: "VCR-OSD-Mono";
  src: url("VCR-OSD-Mono.woff") format("woff"),
    url("VCR-OSD-Mono.woff2") format("woff2"),
    url("VCR-OSD-Mono.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
