svg#piehole {
  position: absolute;
  z-index: 100;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: white;
}

.pie {
  position: absolute;
  padding-top: 180%;
  height: 0;
  width: 180%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  left: 50%;
  top: 50%;
  background-image: url(https://i.imgur.com/qg5xWcQ.jpg);
  background-size: cover;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pie:nth-child(1) {
  z-index: 1;
  -webkit-animation: hole-1 500ms infinite linear;
          animation: hole-1 500ms infinite linear;
}

.pie:nth-child(2) {
  z-index: 2;
  -webkit-animation: hole-2 500ms infinite linear;
          animation: hole-2 500ms infinite linear;
}

.pie:nth-child(3) {
  z-index: 3;
  -webkit-animation: hole-3 500ms infinite linear;
          animation: hole-3 500ms infinite linear;
}

.pie:nth-child(4) {
  z-index: 4;
  -webkit-animation: hole-4 500ms infinite linear;
          animation: hole-4 500ms infinite linear;
}

.pie:nth-child(5) {
  z-index: 5;
  -webkit-animation: hole-5 500ms infinite linear;
          animation: hole-5 500ms infinite linear;
}

.pie:nth-child(6) {
  z-index: 6;
  -webkit-animation: hole-6 500ms infinite linear;
          animation: hole-6 500ms infinite linear;
}

.pie:nth-child(7) {
  z-index: 7;
  -webkit-animation: hole-7 500ms infinite linear;
          animation: hole-7 500ms infinite linear;
}

.pie:nth-child(8) {
  z-index: 8;
  -webkit-animation: hole-8 500ms infinite linear;
          animation: hole-8 500ms infinite linear;
}

.pie:nth-child(9) {
  z-index: 9;
  -webkit-animation: hole-9 500ms infinite linear;
          animation: hole-9 500ms infinite linear;
}

.pie:nth-child(10) {
  z-index: 10;
  -webkit-animation: hole-10 500ms infinite linear;
          animation: hole-10 500ms infinite linear;
}

@-webkit-keyframes hole-1 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}

@keyframes hole-1 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}
@-webkit-keyframes hole-2 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}
@keyframes hole-2 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}
@-webkit-keyframes hole-3 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
}
@keyframes hole-3 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
}
@-webkit-keyframes hole-4 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.6);
  }
}
@keyframes hole-4 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.6);
  }
}
@-webkit-keyframes hole-5 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.6);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
}
@keyframes hole-5 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.6);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
}
@-webkit-keyframes hole-6 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.4);
  }
}
@keyframes hole-6 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.4);
  }
}
@-webkit-keyframes hole-7 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.4);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
}
@keyframes hole-7 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.4);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
}
@-webkit-keyframes hole-8 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.2);
  }
}
@keyframes hole-8 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.2);
  }
}
@-webkit-keyframes hole-9 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.2);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }
}
@keyframes hole-9 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.2);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }
}
@-webkit-keyframes hole-10 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0);
  }
}
@keyframes hole-10 {
  from {
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0);
  }
}
html,
body {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #f5d19d;
  transform-style: preserve-3d;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  overflow: hidden;
  transform: translateX(-50%) translateY(-50%);
}