.contain {
  align-items: center;
  background: repeating-conic-gradient(#FCFDFA 0% 25%, #C2242E 0% 50%) 0 0 / 100px 100px;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding-top: 30vh;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes still {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
}
@keyframes spin {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
}
@media not all and (hover: none) {
  .hover-unsupported {
    display: none;
  }
}
@media not all and (hover: hover) {
  .hover-supported {
    display: none;
  }
}
.controls {
  background: #333;
  border-radius: 2vh;
  color: #fff;
  left: 1vh;
  padding: 2vh;
  position: absolute;
  bottom: 1vh;
}

.pizza-box {
  animation: spin 4.5s infinite linear;
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 6vh 2vh rgba(0, 0, 0, 0.4) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
  transform-style: preserve-3d;
  width: 60vh;
}

.lid-underside,
.lid {
  align-items: center;
  color: #C2242E;
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  display: flex;
  font-size: 14vh;
  height: 60vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  transform: rotateX(0deg) translateY(0) translateZ(4vh);
  transform-origin: top center;
  transition: transform 0.3s ease-in;
  width: 60vh;
  z-index: 1;
}

.lid svg {
  width: 33.33%;
  height: 33.33%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.lid-underside {
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  transform: rotateX(0deg) translateY(0) translateZ(3.9vh);
}

.lid-underside svg {
  width: 33.33%;
  height: 33.33%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(-1);
  fill: currentColor;
}

.lid span {
  padding: 0 2vh;
}

.pizza-box:not(.open) .lid {
  transform: rotateX(0deg) translateY(0) translateZ(4vh);
}

.pizza-box.open .lid {
  transform: rotateX(86deg) translateY(3.9vh) translateZ(0.2vh);
}

.pizza-box:not(.open) .lid-underside {
  transform: rotateX(0deg) translateY(0) translateZ(3.9vh);
}

.pizza-box.open .lid-underside {
  transform: rotateX(86deg) translateY(4vh) translateZ(0.1vh);
}

.pizza-box-side {
  background-color: #f6f6f6;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  height: 4vh;
  position: absolute;
  transform: rotateX(90deg);
  transform-origin: top;
  width: 60vh;
}

.front-side {
  background: linear-gradient(to right, #d6d6d6 0%, #f6f6f6 15%, #f6f6f6 100%);
  transform: translateY(-28vh) rotateX(90deg);
}

.back-side {
  background-color: #bbb;
  bottom: -4vh;
}

.left-side {
  background-color: #ccc;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg) translateX(-28vh);
  transform-origin: 0 top;
}

.right-side {
  background-color: #ddd;
  bottom: -4vh;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg);
  transform-origin: 100% top;
}

.pizza {
  background-image: url('assets/dough.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 1.8vh 1.5vh #ad7551 inset;
  display: block;
  height: 50vh;
  padding: 4vh;
  position: relative;
  transform-style: preserve-3d;
  width: 50vh;
}

.sauce {
  background-image: url('assets/cheese.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1.5vh 1.3vh #bd4b00 inset;
  border-radius: 50%;
  inset: 4vh;
  position: absolute;
  transform: translateZ(2vh);
  transform-origin: center;
}
.toppings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46vh;
  padding: 2vh;
  width: 46vh;
}

.topping-1 {
  background-image: url('assets/pepperoni.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
}

.toppings * {
  place-self: center;
}
