.contain {
  align-items: center;
  background: repeating-conic-gradient(#FCFDFA 0% 25%, #C2242E 0% 50%) 0 0 / 100px 100px;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding-top: 30vh;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes still {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
}
@keyframes spin {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
}
@media not all and (hover: none) {
  .hover-unsupported {
    display: none;
  }
}
@media not all and (hover: hover) {
  .hover-supported {
    display: none;
  }
}
.controls {
  background: #333;
  border-radius: 2vh;
  color: #fff;
  left: 1vh;
  padding: 2vh;
  position: absolute;
  bottom: 1vh;
}

.pizza-box {
  animation: spin 4.5s infinite linear;
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 6vh 2vh rgba(0, 0, 0, 0.4) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
  transform-style: preserve-3d;
  width: 60vh;
}

.lid-underside,
.lid {
  align-items: center;
  color: #C2242E;
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  display: flex;
  font-size: 14vh;
  height: 60vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  transform: rotateX(86deg) translateY(3.9vh) translateZ(0.2vh);
  transform-origin: top center;
  transition: transform 0.3s ease-in;
  width: 60vh;
  z-index: 1;
}

.lid svg {
  width: 33.33%;
  height: 33.33%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.lid-underside {
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  transform: rotateX(86deg) translateY(4vh) translateZ(0.1vh);
}

.lid-underside svg {
  width: 33.33%;
  height: 33.33%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(-1);
  fill: currentColor;
}

.lid span {
  padding: 0 2vh;
}

.pizza-box:not(.open) .lid {
  transform: rotateX(86deg) translateY(3.9vh) translateZ(0.2vh);
}

.pizza-box.open .lid {
  transform: rotateX(0deg) translateY(0) translateZ(4vh);
}

.pizza-box:not(.open) .lid-underside {
  transform: rotateX(86deg) translateY(4vh) translateZ(0.1vh);
}

.pizza-box.open .lid-underside {
  transform: rotateX(0deg) translateY(0) translateZ(3.9vh);
}

.pizza-box-side {
  background-color: #f6f6f6;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  height: 4vh;
  position: absolute;
  transform: rotateX(90deg);
  transform-origin: top;
  width: 60vh;
}

.front-side {
  background: linear-gradient(to right, #d6d6d6 0%, #f6f6f6 15%, #f6f6f6 100%);
  transform: translateY(-28vh) rotateX(90deg);
}

.back-side {
  background-color: #bbb;
  bottom: -4vh;
}

.left-side {
  background-color: #ccc;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg) translateX(-28vh);
  transform-origin: 0 top;
}

.right-side {
  background-color: #ddd;
  bottom: -4vh;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg);
  transform-origin: 100% top;
}

.pizza {
  background-image: url('assets/dough.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 1.8vh 1.5vh #ad7551 inset;
  display: block;
  height: 50vh;
  padding: 4vh;
  transform-style: preserve-3d;
  width: 50vh;
}

.sauce {
  background-image: url('assets/cheese.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1.5vh 1.3vh #bd4b00 inset;
  border-radius: 50%;
  position: absolute;
  transform: translateZ(2vh);
  transform-origin: center;
}

.toppings {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: ". a b ." "c d e f" "g h i j" ". k l .";
  height: 46vh;
  padding: 2vh;
  width: 46vh;
}

.topping-1 {
  background-image: url('assets/pepperoni.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}

.topping-2 {
  background-image: url('assets/pepperoni.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}

.topping-3 {
  background-image: url('assets/pepperoni.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}

.toppings * {
  place-self: center;
}

.toppings *:nth-child(1) {
  grid-area: a;
  transform: rotateZ(20deg);
}

.toppings *:nth-child(2) {
  grid-area: b;
  transform: rotateZ(40deg);
}

.toppings *:nth-child(3) {
  grid-area: c;
  transform: rotateZ(330deg);
}

.toppings *:nth-child(4) {
  grid-area: d;
  transform: rotateZ(96deg);
}

.toppings *:nth-child(5) {
  grid-area: e;
  transform: rotateZ(213deg);
}

.toppings *:nth-child(6) {
  grid-area: f;
  transform: rotateZ(247deg);
}

.toppings *:nth-child(7) {
  grid-area: g;
  transform: rotateZ(145deg);
}

.toppings *:nth-child(8) {
  grid-area: h;
  transform: rotateZ(50deg);
}

.toppings *:nth-child(9) {
  grid-area: i;
  transform: rotateZ(114deg);
}

.toppings *:nth-child(10) {
  grid-area: j;
  transform: rotateZ(7deg);
}

.toppings *:nth-child(11) {
  grid-area: k;
  transform: rotateZ(161deg);
}

.toppings *:nth-child(12) {
  grid-area: l;
  transform: rotateZ(261deg);
}

.link {
  position: absolute;
  transform-style: preserve-3d;
  opacity: 1;
  transform: none;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.pizza-box.open .link {
  opacity: 0;
  transform: translateZ(0vh) scale(0.1);
}

.link a {
  color: #C2242E;
  text-decoration: none;
  font-size: 5vh;
  font-weight: bold;
  font-family: 'Marck Script', cursive;
  background-color: white;
  background-image: url('assets/box.png');
  background-position: center;
  background-size: cover;
  padding: 2vh 4vh;
  border-radius: 1vh;
  box-shadow: 0 0 2vh 1vh rgba(0, 0, 0, 0.2) inset;
}

.link-1 {
  animation: flyAround1 12s infinite linear;
}
.link-2 {
  animation: flyAround2 10s infinite linear;
}
.link-3 {
  animation: flyAround3 14s infinite linear;
}
.link-4 {
  animation: flyAround4 11s infinite linear;
}
.link-5 {
  animation: flyAround5 13s infinite linear;
}
.link-6 {
  animation: flyAround6 16s infinite linear;
}

@keyframes flyAround1 {
  0% { transform: rotateY(0deg) translateZ(35vh) translateY(-10vh) translateX(0); }
  25% { transform: rotateY(90deg) translateZ(35vh) translateY(-10vh) translateX(0); }
  50% { transform: rotateY(180deg) translateZ(35vh) translateY(-10vh) translateX(0); }
  75% { transform: rotateY(270deg) translateZ(35vh) translateY(-10vh) translateX(0); }
  100% { transform: rotateY(360deg) translateZ(35vh) translateY(-10vh) translateX(0); }
}

@keyframes flyAround2 {
  0% { transform: rotateX(0deg) translateZ(30vh) translateY(5vh) translateX(0); }
  25% { transform: rotateX(90deg) translateZ(30vh) translateY(5vh) translateX(0); }
  50% { transform: rotateX(180deg) translateZ(30vh) translateY(5vh) translateX(0); }
  75% { transform: rotateX(270deg) translateZ(30vh) translateY(5vh) translateX(0); }
  100% { transform: rotateX(360deg) translateZ(30vh) translateY(5vh) translateX(0); }
}

@keyframes flyAround3 {
  0% { transform: rotateY(0deg) translateZ(45vh) translateY(-25vh) translateX(0); }
  25% { transform: rotateY(90deg) translateZ(40vh) translateY(0vh) translateX(5vh); }
  50% { transform: rotateY(180deg) translateZ(45vh) translateY(-25vh) translateX(0); }
  75% { transform: rotateY(270deg) translateZ(40vh) translateY(0vh) translateX(-5vh); }
  100% { transform: rotateY(360deg) translateZ(45vh) translateY(-25vh) translateX(0); }
}

@keyframes flyAround4 {
  0% { transform: rotateY(0deg) translateZ(32vh) translateY(15vh) translateX(0); }
  25% { transform: rotateY(90deg) translateZ(32vh) translateY(15vh) translateX(0); }
  50% { transform: rotateY(180deg) translateZ(32vh) translateY(15vh) translateX(0); }
  75% { transform: rotateY(270deg) translateZ(32vh) translateY(15vh) translateX(0); }
  100% { transform: rotateY(360deg) translateZ(32vh) translateY(15vh) translateX(0); }
}

@keyframes flyAround5 {
  0% { transform: rotateX(0deg) translateZ(38vh) translateY(-5vh) translateX(0); }
  25% { transform: rotateX(90deg) translateZ(38vh) translateY(-5vh) translateX(0); }
  50% { transform: rotateX(180deg) translateZ(38vh) translateY(-5vh) translateX(0); }
  75% { transform: rotateX(270deg) translateZ(38vh) translateY(-5vh) translateX(0); }
  100% { transform: rotateX(360deg) translateZ(38vh) translateY(-5vh) translateX(0); }
}

@keyframes flyAround6 {
  0% { transform: rotateY(0deg) translateZ(28vh) translateY(20vh) translateX(0); }
  25% { transform: rotateY(90deg) translateZ(28vh) translateY(20vh) translateX(0); }
  50% { transform: rotateY(180deg) translateZ(28vh) translateY(20vh) translateX(0); }
  75% { transform: rotateY(270deg) translateZ(28vh) translateY(20vh) translateX(0); }
  100% { transform: rotateY(360deg) translateZ(28vh) translateY(20vh) translateX(0); }
}